@import './App.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --app-bg: linear-gradient(to bottom, #0F274F 0%, #2259B5 100%);
  --text: white;
  --surface: #1C5FC3;
  --cell-border-color: #144A8C;

  background-image: var(--app-bg);
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --overlay-bg: rgba(28, 95, 195, 0.8);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}